img#profilephoto{border-radius: 50px;}
td, th {border: 1px;
        padding: 0.5rem;
        }
body {
    background-color: #EAF6F6;
    
}
h1 {color: #66BFBF;
}
h3 {color: #66BFBF;
}
hr {
    border-top-style: dashed;
    border-style: none;
    width: 5%;
    border-width: 10px;
    border-color: grey;
}
