h1 {
    font-family: 'Courier New', Courier, monospace;
}

.main_skills {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.navbar {
    position: fixed;
    z-index: 300;
    width: 100%;
    top: 0;
}

.navbar-brand {
    display: none;
}

@media (max-width: 576px) {
    p.h5 {
        margin-bottom: 30px;
        margin-top: 5px;
    }    
}

@media (max-width: 992px) {
    .navbar-brand {
        display: block;
    }    
}